@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300&display=swap');
 :root{
    --main-radius: 10px;
    --main-padding: 5px;

    /* for consistency */
 }

  .layout {
    display: grid;
    height: 200vh; /*maximum height*/
     grid-template-columns: 1fr 1fr 1fr 1fr; /*columns same sizes*/
    grid-template-rows: 1.5fr 1.2fr 0.9fr .8fr; /* rows different sizes */
    grid-template-areas: 
    "content main main main"
    "content content1 content2 content3 "
    "content content1 content2 content3 " 
    "content footer footer footer"
    ;
    grid-gap: 0.2rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    text-transform:uppercase ;
    font-size: 12px;
    text-align: center;
  }
/*   
  nav{
background-color: #f7fbfb;
grid-area: nav;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
box-shadow: 0 0 10px 0;
  } */

  main{
      /* background-color: #f7f7e7; */
      grid-area: main; /*so the grid area knows where to show up*/
      border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  background-image: url('https://images.unsplash.com/photo-1600852307130-41924335e4dc?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTV8fGxpcHN0aWNrfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60');
  width: 75%;
  height: 385px;
  background-size: 100% 100%;
  position: absolute;
  top: 52%;
  left: 63%;
  transform: translate(-50%, -50%);
  /* box-shadow: 1px 2px 10px 5px white; */
  animation: slideshow 10s infinite linear;

  }



   #content{
    background-color: #f7f7e7;
    grid-area: content;
    border-radius: var(--main-radius);
padding-top: var(--main-padding);
  }

  #content1{
    background-color: #f7f7c7;
    grid-area: content1;
    border-radius: var(--main-radius);
padding-top: var(--main-padding);
  }
  #content2{
    background-color: #f7f7af;
    grid-area: content2;
  }
  #content3{
    background-color: #DAF7A1;
    grid-area: content3;
    border-radius: var(--main-radius);
padding-top: var(--main-padding);
  }
  #content4{
    background-color: #DAF7A1;
    grid-area: content4;
    border-radius: var(--main-radius);
padding-top: var(--main-padding);
  }
  footer{
      background-color: #DAF7C8;
      grid-area: footer;
      border-radius: var(--main-radius);
padding-top: var(--main-padding);
  }

  @media only screen and (max-width:270){
    .container{
         grid-template-columns: 1fr; /*so it can be only one column width */
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr ; 
        grid-template-areas: 
         "nav"
         "main"
         "content1"
         "content2"
         "content3"
         /* "content4" */
         "footer"
         ;
        }
  }
  


@keyframes slideshow {
  25% {
      background-image: url('https://images.unsplash.com/photo-1583209814683-c023dd293cc6?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Y29zbWV0aWNzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60');
  }
  50% {
      background-image: url('https://images.unsplash.com/photo-1596462502278-27bfdc403348?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29zbWV0aWNzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60');
  }
  75% {
      background-image: url('https://images.unsplash.com/photo-1571256750339-12bbebc768f3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8Y29zbWV0aWNzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60');
  }
  100% {
      background-image: url('https://images.unsplash.com/photo-1542452255191-c85a98f2c5d1?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8bGlwc3RpY2t8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60');
  }
   /* from {
      box-shadow: 1px 2px 10px 5px rgb(51, 49, 49)
  } */
  /* to {
      box-shadow: 2px 3px 11px 6px rgb(61, 60, 60)
  }  */
}