@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300&display=swap');
 :root{
    --main-radius: 10px;
    --main-padding: 5px;

    /* for consistency */
 }

  .container {
    display: grid;
    height: 100vh; /*maximum height*/
     grid-template-columns: 1fr 1fr 1fr 1fr; /*columns same sizes*/
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.9fr .8fr; /* rows different sizes */
    grid-template-areas: 
    "nav nav nav nav"
    "content main main main"
    "content content1 content2 content3 "
    "content content1 content2 content3 " 
     /* "content content4 content4 content4"  */
    "content footer footer footer"
    ;
    grid-gap: 0.2rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    text-transform:uppercase ;
    font-size: 12px;
    text-align: center;
  }
  
  nav{
background-color: #f7fbfb;
grid-area: nav; /*so the grid area knows where to show up*/
border-radius: var(--main-radius);
padding-top: var(--main-padding);
box-shadow: 0 0 10px 0;
  }

  main{
      background-color: #f7f7f7;
      grid-area: main;
      border-radius: var(--main-radius);
padding-top: var(--main-padding);
  }



   #content{
    background-color: #f7f7e7;
    grid-area: content;
    border-radius: var(--main-radius);
padding-top: var(--main-padding);
  }

  #content1{
    background-color: #f7f7c7;
    grid-area: content1;
    border-radius: var(--main-radius);
padding-top: var(--main-padding);
  }
  #content2{
    background-color: #f7f7af;
    grid-area: content2;
  }
  #content3{
    background-color: #DAF7A1;
    grid-area: content3;
    border-radius: var(--main-radius);
padding-top: var(--main-padding);
  }
  #content4{
    background-color: #DAF7A1;
    grid-area: content4;
    border-radius: var(--main-radius);
padding-top: var(--main-padding);
  }
  footer{
      background-color: #DAF7C8;
      grid-area: footer;
      border-radius: var(--main-radius);
padding-top: var(--main-padding);
  }

  @media only screen and (max-width:270){
    .container{
         grid-template-columns: 1fr; /*so it can be only one column width */
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr ; 
        grid-template-areas: 
         "nav"
         "main"
         "content1"
         "content2"
         "content3"
         /* "content4" */
         "footer"
         ;
        }
  }