/* Generic styling */
:root {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
      list-style: none;
      text-decoration: none;
  }
  
  html {
    height: 100%;
    width: 100%;
  }
  
  body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
      padding: 0;
    background: #232323;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: sans-serif;
  }
  
  .container {
      display: grid;
      height: 100vh;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
      grid-template-areas:
        "nav nav nav nav"
        "content main main main"
        "content content1 content2 content3"
        "footer footer footer footer";
      grid-gap: 0.2em;
      color: #f0efeb;
      text-align: center;
      font-size: 12px; 
    } 
  
    /* just for this test sake here all content is vertically aligned in the center */
   .container > *:not(:first-child) {
      display: grid;
      place-items: center;
    }
  
    main {
      background: #6d597a;
      grid-area: main;
    }
  
    #content {
      background: #355070;
      grid-area: content;
    }
    
    #content1 {
      background: #e56b6f;
      grid-area: content1;
    }
    
    #content2 {
      background: #eaac8b;
      grid-area: content2;
    }
    
    #content3 {
      background: #ffcad4;
      grid-area: content3;
    }
    
    footer {
      background: #41B3A3;
      grid-area: footer;
    } 
    
     /* remove the hamburger icon of Nav */
     nav li.icon {
      display: none;
    }
    
    @media only screen and (max-width: 768px) {
      .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.4fr repeat(2, 2fr 1fr) 1fr;
        grid-template-areas:
          "nav nav"
          "main main"
          "content content"
          "content1 content1"
          "content2 content3"
          "footer footer";
      }
  }   